<aside id="aside" class="aside">
    <div class="bar bar--yellow"></div>
    <div class="bar bar--green"></div>
    <div class="bar bar--blue"></div>
    <div class="bar bar--pink"></div>
    <div class="bar bar--yellow"></div>
    <div class="bar bar--green"></div>
    <div class="bar bar--blue"></div>
    <div class="bar bar--pink"></div>
    <div class="bar bar--yellow"></div>
    <div class="bar bar--green"></div>
    <div class="bar bar--blue"></div>
    <div class="bar bar--pink"></div>
    <div class="bar bar--yellow"></div>
    <div class="bar bar--green"></div>
    <div class="bar bar--blue"></div>
    <div class="bar bar--pink"></div>
    <div class="bar bar--yellow"></div>
    <div class="bar bar--green"></div>
    <div class="bar bar--blue"></div>
    <div class="bar bar--pink"></div>
    <div class="bar bar--yellow"></div>
    <div class="bar bar--green"></div>
    <div class="bar bar--blue"></div>
    <div class="bar bar--pink"></div>
    <div class="bar bar--yellow"></div>
    <div class="bar bar--green"></div>
    <div class="bar bar--blue"></div>
    <div class="bar bar--pink"></div>
    <div class="bar bar--yellow"></div>
    <div class="bar bar--green"></div>
    <div class="bar bar--blue"></div>
    <div class="bar bar--pink"></div>
    <div class="bar bar--yellow"></div>
    <div class="bar bar--green"></div>
    <div class="bar bar--blue"></div>
    <div class="bar bar--pink"></div>
</aside>