<!doctype html>
<html>
	<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
	<link rel="stylesheet" href="./style.css">

	<title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>

	</head>
	<body>

	<div id="resume">
		{{> basics }}
		{{> work }}
		{{> volunteer }}
		{{> education }}
		{{> awards }}
		{{> publications }}
		{{> skills }}
		{{> languages }}
		{{> interests }}
		{{> references }}
	</body>
</html>
